@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fonte-padrão: 'Roboto', sans-serif;;
    --fonte-android: 'Roboto Slab', serif;
}

html {
    font-family: var(--fonte-padrão);
}

h1,
h2,
h3 {
    font-family: var(--fonte-android);
}

.nav-link:hover {
    background-color: white;
    color: black !important;
}

.navbar {
    padding: 10px !important;
}

.nav-link {
    padding: 20px 0 20px 20px !important;
}

.navbar-brand {
    max-width: 25%;
}

.brand {
    width: 100%;
}

.imagem-header {
    padding: 0 !important;
    height: 100vh !important;
    width: 100vw;
    color: white;
    background-image: url('../imagens/header.png') !important;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.vl {
    border-left: 6px solid #a4c639;
    height: 190px;
    position: absolute;
    left: 23px;
    top: 210px;
  }

.fundo {
    width: 100vw;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
}

.section {
    position: relative;
    width: 100vw;
    padding: 40px 0 40px 0 !important;
}

.row {
    margin: auto;
    width: 90vw;
}

h1 {
    position: absolute;
    top:223px;
    left: 30px;
    width: 90%;
    padding: 10px;
    font-variant: small-caps;
    letter-spacing: 0.15rem;
    font-weight: 500 !important;
    line-height: 0.8 !important;
    z-index: 3;
}

.tecnologia {
    font-size: calc(1.575rem + 5.8vw) !important;
    font-weight: 400;
}

.p-h1 {
    position: absolute;
    top: 426px;
    left: 30px;
    width: 73%;
    padding: 10px;
    font-weight: 300 !important;
    z-index: 3;
    line-height: 1.6 !important;
    font-size: 1.1rem;
}

.subtitle {
    position: absolute;
    top: 7px !important;
    padding-left: 10px;
}

h2 {
    font-weight: 400 !important;
}

iframe {
    margin-bottom: 50px;
}

.aside {
    background-color: #5d8d38;
    padding: 40px 0 40px 0 !important;
}

.accordion-body p {
    color: black !important;
    font-weight: 500;
}

.categoria {
    font-weight: 600;
    color: #2f9264;
}

/*---------------------CARDS---------------------*/
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  .card_flip {
    margin: auto;
    width:300px;
    height: 300px;
    border: none !important;
    perspective: 600px;
  }
  
  .card_inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card_inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    text-align: center;
  }
  
  .card_face-front {
    background-image: url('../imagens/p-cupcake.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(.9);
  }

  #donut {
      background-image: url('../imagens/p-donut.png');
  }
  
  .card_face-front h3 {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.541);
    color: #f3f3f3;
  }
  
  .card_face-back {
    transform: rotateY(180deg);
    background-color: white;
  }
  
  .version_logo {
    padding: 10px 0 0 0;
  }
  
  .card_face-back h3 {
    padding: 10px 0 5px 0;
    color: #5d8d38
  }

  .card_face-back p {
    color: black;
    font-weight: bold;
  }

  .card_face-back span {
    color: #5d8d38;
    font-weight: bold;
  }
  
  .card_content {
    width: 100%;
    height: 100%;
  }

 /*-----------------------------------------------*/



.ending {
    font-family: var(--fonte-android);
}

.footer {
    color: white;
}

.footer p {
    margin-top: 1rem !important;
}